@import url('./_minireset.css');
@font-face {
  font-family: 'IQOS';
  src:  url('./fonts/IQOS-Regular.woff2') format('woff2'),
        url('./fonts/IQOS-Bold.woff2') format('woff2');
}

body {
  font-family: IQOS, -apple-system, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #404040;
  overflow: hidden;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 32px;
  line-height: 30px;
  margin: 10px auto 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.clr-org {color: #FF7009;}

.wrapper-cookie {
  position: relative;
  max-height: 200px;
  width: 100%;
}

#container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 190px);
}

ul.actions li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul.actions li:first-child {margin-bottom: 21px;}

ul.actions li span.numb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 49px;
  margin-right: 14px;
  border: 2px solid #FB7125;
  border-radius: 50%;
}

#main.animated .actions {opacity: 0;}
#main #container svg {
  position: fixed;
  top: -20px;
  left: 0;
}

@media screen and (max-width: 320px) {
  .wrapper-cookie {max-height: 120px;}
  .title {font-size: 28px;}
}


.wrapper-sequins {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#container-sequins {
  position: relative;
  width: 100vw;
  height: 100vh;
}

#canvas-container-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background: transparent;
}
