@import url('./_minireset.css');
@font-face {
  font-family: 'IQOS';
  src:  url('./fonts/IQOS-Regular.woff2') format('woff2'),
        url('./fonts/IQOS-Bold.woff2') format('woff2');
}

body {
  font-family: IQOS, -apple-system, Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #404040;
  overflow: hidden;
  box-sizing: border-box;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 32px;
  line-height: 30px;
  margin: 10px auto 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.clr-org {color: #FF7009;}

.cookie-img {cursor: pointer;}

.content-wrapper {
  position: relative;
  max-height: 200px;
  width: 100%;
}
#container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 190px);
}

ul.actions {
  padding-left: 26px;
}

ul.actions li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul.actions li:first-child {margin-bottom: 21px;}

ul.actions li span.numb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49px;
  width: 49px;
  margin-right: 14px;
  border: 2px solid #FB7125;
  border-radius: 50%;
}

#main.animated .actions {display: none;}
#main #container svg {
  position: fixed;
  top: -40px;
  left: 0;
}

#main.animated #container svg {top: 80px;}

@media screen and (max-width: 320px) {
  .content-wrapper {max-height: 120px;}
  #main #container svg {top: -20px;}
  .title {font-size: 28px;}
  ul.actions {padding-left: 6px;}
}



.effect-sequins {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
#container-sequins {
  position: relative;
  width: 100vw;
  height: 100vh;
}
#sequin {
  position: absolute;
  /* display: inline-block; */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fc0 transparent;
  opacity: 0.0;
  animation: glitter 6s linear 0s infinite normal;
}
/*CSS3 keyframes for glittering effect*/
@keyframes glitter {
  0% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1) rotate(360deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0.3) rotate(720deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0.3) rotate(0deg);
    opacity: 0;
  }
}